body {
	margin: 0px;
}

.dark-mode {
  background-color: #1F1F1F;
}

.dark-mode .content {
	color: #FFFFFF;
}

.dark-mode .content img {
	border: 4px solid #FFFFFF;
}

nav ul {
	list-style-type: none;
	border-left: 15px solid #B78AFF;
	margin: 0px;
	padding: 0px;
	position: fixed;
	overflow: hidden;
	background-color: #000000;
	width: 100%;
}

nav li {
	float: left;
}

nav li a {
	display: block;
	padding: 17px 30px 14px 30px;
	margin-left: 30px;
	text-align: center;
	text-decoration: none;
	font-family: 'Heebo', sans-serif;
	font-weight: 500;
	font-size: 18px;
	color: #E8EDDF;
	background-color: #000000;
}

nav li a:hover {
	color: #B78AFF;
	border-bottom: solid 3px #B78AFF;
}

nav .active {
	color: #B78AFF;
	border-bottom: solid 3px #B78AFF;
}

#dark-mode-toggle {
	float: right;
	display: block;
	border: none;
	padding: 12px;
	margin: 50px 100px;
	font-family: 'Heebo', sans-serif;
	font-weight: 500;
	font-size: 15px;
	background-color: #000000;
	color: #FFFFFF;
	width: 110px;
}

#dark-mode-toggle:hover {
	color: #B78AFF;
}

.dark-mode #dark-mode-toggle {
	background-color: #FFFFFF;
	color: #000000;
}

.dark-mode #dark-mode-toggle:hover {
	background-color: #B78AFF;
	color: #FFFFFF;
}

.banner {
	padding: 80px 0px 80px;
	margin: 0px;
	background-color: #222222;
	background-image: url("_assets/Raleigh-Skyline-Grayscale-DARK.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	border-bottom: 6px solid #B78AFF;
	width: 100%;
	display: block;
	overflow: hidden;
}

.banner-content {
	background-color: #000000;
	padding: 50px;
	margin: 50px 0px 0px 275px;
	width: 25%;
}

.banner h1 {
	font-family: 'Heebo', sans-serif;
	font-weight: 600;
	font-size: 50px;
	color: #FFFFFF;
	margin: -10px 0px 8px;
}

.banner h2 {
	font-family: 'Courier Prime', monospace;
	font-size: 20px;
	color: #B78AFF;
	padding-left: 2px;
	margin-bottom: 0px;
}

.banner p {
	line-height: 27px;
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	color: #FFFFFF;
	margin-top: 0px;
	padding-left: 2px;
}

.banner a {
	text-decoration: none;
	color: #B78AFF;
}

.banner a:hover {
	text-decoration: none;
	color: #D6BDFF;
}

.content {
	padding: 20px 20px 80px 300px;
	margin: 20px;
	width: 70%
}

.content h1 {
	font-family: 'Heebo', sans-serif;
	font-weight: 500;
	font-size: 25px;
	margin-bottom: -10px;
}

.content h2 {
	font-family: 'Heebo', sans-serif;
	font-weight: 500;
	font-size: 20px;
	margin-bottom: -10px;
}

.content h3 {
	font-family: Arial;
	font-size: 14px;
}

.content p {
	text-align: left;
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	width: 50%;
}

.content img {
	float: right;
	clear: right;
	margin-left: 50px;
	vertical-align: middle;
	width: 20%;
	height: auto;
	border: 4px solid #000000;
}

.content iframe {
	display: block;
	overflow-x: hidden;
	width: 90%;
	height: 650px;
	margin-top: 25px;
}

.project {
	background-color: #000000;
	background-repeat: no-repeat;
	background-size: cover;
	border: 4px solid #454545;
	border-radius: 3px;
	width: 25%;
	height: 200px;
	padding: 10px;
	margin: 15px 50px 15px 0px;
}

.project:hover {
	border-color: #D6D6D6;
	background: rgba(0, 0, 0, 0.65);
	background-size: cover;
	background-blend-mode: darken;
}

.project a {
	display: block;
	width: 100%;
	height: 100%;
}

.project h2 {
	color: #FFFFFF;
	font-family: "Heebo", sans-serif;
	font-weight: 500;
	font-size: 25px;
	line-height: 15px;
	padding-left: 10px;
}

.project h3 {
	font-family: "Heebo", sans-serif;
	font-weight: 500;
	font-size: 18px;
	padding-left: 10px;
	line-height: 15px;
}

#project-1 {
	color: #FFFFFF;
	float: left;
	background-image: url("_assets/the-price-is-right-logo.jpg");
}

#project-2 {
	color: #FFFFFF;
	float: left;
}

#project-3 {
	color: #FFFFFF;
	float: left;
}

#contact-form {
	display: inline-block;
	padding: 0px 30px 0px 30px;
	margin: 20px 50% 20px 0px;
	margin-right: 50% auto;
	background-color: #EDEDEF;
	border-top: 30px solid #000000;
	border-radius: 3px;
}

#contact-form h1 {
	font-family: 'Manrope', sans-serif;
	font-weight: 500;
	font-size: 30px;
	margin-bottom: 15px;
}

#contact-form input {
	width: 195%;
	padding: 10px;
	background-color: #CCCCCC;
	border: solid 2px #B3B3B3;
	border-radius: 3px;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
}

#contact-form textarea {
	width: 97.5%;
	height: 200px;
	min-height: 200px;
	max-height: 600px;
	padding: 10px;
	background-color: #CCCCCC;
	border: solid 2px #B3B3B3;
	border-radius: 3px;
	resize: vertical;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
}

#contact-form button {
	float: right;
	display: block;
	border: none;
	border-radius: 3px;
	padding: 8px;
	margin: 20px 20px;
	background-color: #000000;
	color: #FFFFFF;
	font-family: 'Heebo', sans-serif;
	font-weight: 500;
	font-size: 12px;
	text-decoration: none;
}

#contact-form button:hover {
	color: #B78AFF;
}

.dark-mode #contact-form {
	background-color: #383838;
}

.dark-mode #contact-form button{
	background-color: #FFFFFF;
	color: #000000;
}

.dark-mode #contact-form button:hover {
	background-color: #B78AFF;
	color: #FFFFFF;
}

#back-to-top {
	float: right;
	display: block;
	border: none;
	border-radius: 3px;
	padding: 8px;
	background-color: #000000;
}

#back-to-top a {
	font-family: 'Heebo', sans-serif;
	font-weight: 500;
	font-size: 12px;
	text-decoration: none;
	color: #FFFFFF;
}

#back-to-top a:hover {
	color: #B78AFF;
}

.dark-mode #back-to-top {
	background-color: #FFFFFF;
}

.dark-mode #back-to-top a {
	color: #000000;
}

.dark-mode #back-to-top:hover {
	background-color: #B78AFF;
}

.dark-mode #back-to-top:hover > a {
	color: #FFFFFF;
}

.social-media-panel ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	bottom: 0px;
	overflow: hidden;
	width: 100%;
	position: fixed;
	background-color: #000000;
}

.social-media-panel li {
	float: left;
}

.social-media-panel li a {
	display: block;
	text-decoration: none;
	padding: 14px 25px 14px 25px;
	font-family: Roboto;
	font-size: 16px;
	color: #FFFFFF;
}

.social-media-panel li a:hover {
	color: #B78AFF;
}
